.AlertBox{
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;

}

.AlertBox .AlertContent{
  border-radius: 3px;
  height: 100%;
  padding: 0px 5%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7cb342;
  opacity: 1;
  animation: fade 2s linear;
  transform: translateY(-50px);
  color: white;
}




@keyframes fade {
  0%{ opacity: 0;}
  40% { opacity: 1;transform: translateY(20px)}
  100% { opacity: 0;transform: translateY(20px)}
}
