.EditProduct{
  width: 100%;
  height: auto;
}

.SearchHeader{
  display: flex;
  align-items: center;
  height: 20vh;
  width: 100%;
}
.SearchHeader p{
  color: #262626;
  font-size: 120%;
  margin-left: 5%;
  margin-right: 5%;
}
