#linearGraph .axis{
  stroke:#666666;
}

#linearGraph svg{
  fill:none;
  stroke:#666666;
  background-color: white;
}

#linearGraph .data-circle{
  fill:red;
}

#linearGraph path{
  stroke:#777777
}
