.PastContainer{
  width: 70%;
  height:auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.07);

}

.PastTitle{
  width: 100%;
  height: 10vh;
  color: #262626;
  font-size: 200%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.07);
}

.PastTitle span{
  margin-left: 1%;
}

.EmptyCart{
  width: 100%;
  height:70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EmptyCart img{
  width: 30%;
  height: 30%;
}

.PastOrders{
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.SingleOrder{
  width: 90%;
  height: auto;
  margin:5vh 0;
  border: 1px solid rgba(0,0,0,0.07);
}


.SingleOrder .SingleOrderHeader{
  width: 100%;
  display: flex;
  align-items: center;
  height: 7vh;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.07);
}


.SingleOrderHeader span{
  margin-left: 1%;
  color: #262626;
  font-size: 100%;
}

.SingleOrderHeader p{
  position: absolute;
  right: 2%;
  top: 0px;
  font-size: 90%;
  color: #666666;
}

.SingleOrder .AllOrders{
  width: 63%;
  height: auto;
  flex-direction:column;
  display: inline-flex;
  margin-top: 1%;
  margin-left: 2%;
}

.SingleOrder .Details{
  width: 30%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  margin-top: 1.5%;
  right: 9%;
}

.Details .Address{
  width: 100%;
  height: auto;
  font-size: 90%;
  font-style: italic;
  text-align: left;
  margin-bottom: 5%;
}

.Details .Address span{
  display: inline-block;
  width: 60%;
  font-size: 90%;
  font-style: italic;
}


.Details .TotalAmount{
  color:#262626;
  font-size: 90%;
  width: 100%;
  text-decoration: left;
  margin: 1% 0;
}
