.SearchBox{
width: 50%;
height: 100%;
display: flex;
align-items: center;
margin: 0px;
padding: 0px;
}

.search {
  text-align: center;
  width: 100%;
  position: relative;
}



.search button {
  border: none;
  cursor: pointer;
  font-size: 35px;
  height: 35px;
  margin: 10px 10px 10px -30px;
  outline: none;
  padding: 0px;
  position: absolute;
  right: -11px;
  top: -10px;
  width: 35px;
  background-color: #f57c00 ;
  border-radius: 4px;
  border-top-left-radius:0px;
  border-bottom-left-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search button img{
  width: 65%;
  height: 65%;
}

.search input{
  border: none;
  border-radius: 4px;
  height: 35px;
  outline: none;
  border: 1px solid #bfbfbf;
  padding: 10px 10px 10px 40px;
  width: 100%;
}

.search input:focus{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
