.Products{
  display: flex;
  flex-direction:column;
  width:95%;
  height: auto;
  margin:auto;
  margin-bottom:7vh;
}

.Label{
  width: 100%;
  height: 10vh;
  display: inline-flex;
  align-items:center;
}

.Label p{
  color: #262626;
  font-size:180%;
  font-weight: lighter;
  padding-bottom: 10px;
}

.LabelProducts{
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
