.Products{
  width:87%;
  height: auto;
  margin:auto;
  margin-bottom:7vh;
  margin-top: 3%;
}

.Products button::before{
  color: #333333;
}

.Label{
  width: 100%;
  height: 10vh;
  display:flex;
  justify-content: center;
  align-items:center;
}

.Label p{
  color: #333333;
  font-size:180%;
  font-weight: lighter;
  padding-bottom: 10px;
  letter-spacing: 1px;
  word-spacing: 10px;
}

.Label span{
  width:60px;
  height: 2px;
  background-color:#333333;
  margin: 15px;
}
