.DumbMain{
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.DumbMain .DumbHeader{
  color: #333333;
  font-size: 250%;
  font-weight: bold;
  width: 100%;
  letter-spacing: 1px;
  margin-top: 10vh;
}

 .OtherText br{
  margin-bottom: 2vh;
}
.DumbMain .OtherText{
  color: #666666;
  line-height: 25px;
  font-size: 100%;
  width: 100%;
  margin-top: 5vh;
}
