
.CartContent{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color:#eceff1 ;
  border: 1px solid #dbdbdb;
}

.CartContent .Header{
  width: 100%;
  height: 10%;
  background-color: #ef6c00  ;
  display: flex;
  align-items: center;
  position:relative;
}

.MycartTitle{
  margin-left: 15px;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 1px;
  color: white;
}

.Close{
  height: 12px;
  width: 12px;
  position: absolute;
  right: 4%;
  cursor: pointer;
}

.CartList{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow-y:auto;
}

.CartList::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.CartList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.CartList::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.CartList::-webkit-scrollbar-thumb:hover {
  background: #555;
}
