.OrderHeader{
  display: flex;
  width: 100%;
  height: 70vh;
  margin-bottom: 20vh;
}

.OrderHeader .TotalOrders{
  width:55%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  color: #262626;
}

.ListHeader{
  display: flex;
  width: 100%;
  height: 70vh;
  margin-bottom: 20vh;
}

.ListHeader .ListOrders{
  width:55%;
  height: 100%;
  display:flex;
  justify-content: center;
  font-size: 200%;
  color: #262626;
}

.ListOrders p{
  margin-top: 30%;
}


.MonthHeader{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  margin-bottom: 20vh;
}

.MonthHeader .MonthList{
  width:100%;
  height: 100%;
  display:flex;
  justify-content: center;
  font-size: 200%;
  color: #262626;
}
